* {
	margin: 0;
	padding: 0;
	font-family: "Dubai Light";
	font-size: 17px;
}

p {
	font-family: "Corbel Light";
}

body {
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: 1920px 1080px;
	background-attachment: fixed;
}

body > div {
	width: 100%;
}

a {
	text-decoration:none;
	font-size: 17px;
	color: black;
}

#menu {
	display: flex;
	height: 100px;
	background-color: #FFF;
	text-align: center;
	align-items: center;
	justify-content: center;
}

#menu > div > ul > li {
	display: inline-flex;
	height: 50px;
	align-items: center;
	transition-duration: .5s;
}

#menu > div > ul > li:hover {
	background-color: #FFB201;
}

#menu > div > ul > li > a {
	padding: 10px 25px;
}

#jpg {
	float: left;
	height: 250px;
	width: 100%;
	margin-left: 50px;
}





#middle {
	display: flex;
	position: relative;
	height: 475px;
	background: transaprent;
	justify-content: center;
	align-items: center;
	color:  #FFF;
}

#middle > div {
	text-align: center;
}

#middle > div> p {
	animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


#middleHeader {
	font-size: 70px;
	letter-spacing: 4px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#middleContent {
	width: 50%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}




#three {
	display: flex;
	height: 127px;
	align-items: center;
	justify-content: center;
	background-color: #FFB201;
}

#three > div {
	display: flex;
	height: 125px;
	width: 920px;
	color: #FFF;
	align-items: center;
	justify-content: center;
}

.three {
	display: inline-block;
	height: 95px;
	width: 300px;
	color: #FFF;
}

.threeHeader {
	font-size: 23px;
}

#line {
	height: 70px;
	width: 1px;
	margin-right: 12px;
	background-color: #FFF;
}

#cams {
	display: inline-block;
	height: 95px;
	width: 310px;
	color: #FFF;
}




#visitUs {
	display: flex;
	height: 389px;
	background-color: #FFF;
	justify-content: center;
}

#child {
	height: 100%;
	width: 50%;
}

#child > div {
	display: inline-block;
	height: 100%;
	width: 48%;
}

#image {
	height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#visitUsImage {
	display: flex;
	height: 250px;
	width: 440px;
	margin-top: 16%;
	margin-bottom: auto;
	margin-left: 20%;
	margin-right: auto;
}

#content {
	position: relative;
	display: flex;
	justify-content: center;
	float: left;
}

#content > div > p {
	text-align: center;
}

#visitHeader{
  margin-top: 85px;
  margin-bottom: 40px;
}
#visitHeader > p {
  font-size: 32px;
  font-weight: bold;
}

#visitButton {
  display: inline-flex;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

#visitButonContent {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  background-color: #FFB201;
  padding: 3px 34px;
  transition-duration: 0.3s;
}

#visitButonContent:hover {
  background-color: #9E7200;
}






#offerYou {
	height: 500px;
	background-color: #e3e3e3;
	padding-top: 120px;
}

#headHeader {
	display: flex;
	justify-content: center;
}

#headHeader > p {
	height: 65px;
	width: 460px;
	font-size: 32px;
  font-weight: bolder;
  text-align: center;
}

#contentHeader {
	display: inline-flex;
	margin-top: 30px;
	height: 45px;
	width: 100%;
	justify-content: center;
}

#contentHeader > p {
	height: 100%;
	width: 30%;
	text-align: center;
}

#options {
	display: flex;
	justify-content: center;
}

#underOptions {
	display: inline-flex;
	height: 250px;
	width: 100%;
	justify-content: center;
}

#threeOptions {
	width: 55%;
	margin-right: auto;
	margin-left: auto;
}

.option {
	display: inline-block;
	margin-right: 50px;
	width: 260px;
	height: 100%;
}

#first {
	margin-left: 50px;
}

#second {
	margin-right: 45px;
}

.headerOption {
	width: 130px;
	display: block;
	height: 50px;
	font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}

.option > p {
	text-align: center;
}







#brandsUsed {
	height: 435px;
	background-color: #FFF;
}

#titleBrand {
	display: inline-flex;
	margin-top: 110px;
	margin-bottom: 60px;
	width: 100%;
	justify-content: center;
}

#titleBrand > p {
  font-size: 32px;
  font-weight: bold;
}

#imageBrand {
	display: flex;
	height: 80%;
	width: 100%;
	justify-content: center;
}

#imageBrand > img {
	height: 120px;
	width: 880px;
}






#threeCWH{
	display: inline-flex;
	height: 105px;
	align-items: center;
	justify-content: center;
	background-color: #FFB201;
	box-shadow: 2px 2px 10px #222;
	z-index: 1;
}



#threeCWH > div {
	display: flex;
	height: 125px;
	width: 920px;
	color: #FFF;
	align-items: center;
	justify-content: center;
	padding-left: 120px;
}

#lineshort {
	height: 50px;
	width: 1px;
	margin-right: 70px;
	background-color: #FFF;
}

.threeCWH {
	display: inline-block;
	height: 95px;
	width: 300px;
	color: #FFF;
	padding-top: 35px;
}



#end {
	display: flex;
	height: 290px;
	background-color: #2c2c2c;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

#end > div {
	width: 800px;
	height: 100%;
	display: inline-flex;
}

.last3 {
	width: 50%;
	margin: 2px;
	color: #FFF;
}

#last3 {
	width: 50%;
	margin: 2px;
	color: #FFF;
	margin-left: 120px;
}

.lastHeader {
	font-size: 23px;
	margin-top: 45px;
	margin-bottom: 20px;
}

#lastImage {
	margin-top: 45px;
	cursor: pointer;
}

#lastApply {
	margin-left: 80px;
}

@media only screen and (min-width: 990px) and (max-width: 1060px) {
	#child {
		width: 70%;
	}
}

@media only screen and (min-width: 100px) and (max-width: 990px) {
	#menu > div {
		
	}
}